html
  head
    title #{title}
    link(rel="stylesheet" href="http://www.hirocafe.com/timecard/css/my.css")
    link(rel="stylesheet" href="http://www.hirocafe.com/timecard/css/bootstrap.min.css")
    script(type='text/javascript', src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js')
    script(type='text/javascript', src='http://www.hirocafe.com/timecard/js/bootstrap.min.js')
  body
    nav.navbar.navbar-expand-lg.navbar-light.bg-light
      a.navbar-brand Timecard Management Application
      button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarEexample')
        span.navbar-toggler-icon
      #navbarEexample.collapse.navbar-collapse
        ul.navbar-nav
          li.nav-item
            a.nav-link(href='./insert_top') Insert
          li.nav-item
            a.nav-link(href='./search_top') Search
          li.nav-item
            a.nav-link(href='./delete_top') Delete
    .box13
      p 削除処理が完了しました！